[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
torch = "*"
torchvision = "*"
transformers = "*"
pandas = "*"
absl-py = "*"
"jinja2" = "*"
tornado = "*"

[dev-packages]

[requires]
python_version = "3.6"
