[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
torch = "*"
torchvision = "*"
transformers = "*"
pandas = "*"
absl-py = "*"
"jinja2" = "*"
tornado = "*"
tensorflow = "==2.0.0"
tensorflow-hub = "==0.7.0"
tqdm = "*"
scikit-learn = "*"
seaborn = "*"
flask = "*"
flask-cors = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.6"
